{% extends 'base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% trans 'Reset Password' %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 mt-3">
        <h1 class="text-center mb-5">{% trans 'Reset My Password' %}</h1>

        <p class="text-center mt-3 mb-3">
          {% blocktrans %}Enter my email address below, and we'll email instructions for setting a new password.{% endblocktrans %}
        </p>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-md-4 mt-3 border rounded p-3">
        <form method="post" action="{% url 'account_reset_password' %}">
          {% csrf_token %}

          {# Display Form Errors #}
          {% if form.errors %}
            <ul>
              {% for field in form %}
                {% for error in field.errors %}
                  <li>{{ field.label_tag }}: {{ error }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
          {% endif %}

          {# Email #}
          <div class="form-group row mt-2">
            <label for="{{ form.email.id_for_label }}" class="col-form-label col-md-4">{% trans 'Email' %}:</label>
            <div class="col-md-8">{{ form.email }}
              {{ form.email.errors }}</div>
          </div>

          <div class="form-group row">
            <div class="col-md-12 text-center mt-2 mb-3">
              <input type="submit" class="btn btn-info" value="{% trans 'Reset My Password' %}" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
