{% extends 'base.html' %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
  {% trans 'Password Reset' %}
{% endblock %}
{% block content %}
  {% element h1 %}
  {% trans 'Password Reset' %}
  {% endelement %}
  {% if user.is_authenticated %}
    {% include 'account/snippets/already_logged_in.html' %}
  {% endif %}
  <p>
    {% blocktrans %}We have sent I an email. If I have not received it please check Ir spam folder. Otherwise contact us if I do not receive it in a few minutes.{% endblocktrans %}
  </p>
{% endblock %}
