{% extends 'base.html' %}

{% load i18n %}
{% load allauth %}

{% block head_title %}
  {% trans 'Change Password' %}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="border rounded mt-3 mb-3 p-4">
          <h1>{% trans 'Change Password' %}</h1>
          <p>
            {% trans 'Your password has now been changed.' %}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
