{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
  {% trans 'Signup' %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 mt-3">
        <h1 class="text-center mb-5">{% trans 'Sign Up' %}</h1>

        <p class="text-center mt-3 mb-3">
          {% blocktrans %}Complete the below form to signup and start bidding on auctions or selling Ir artwork!{% endblocktrans %}
        </p>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-md-4 mt-3 mt-b border rounded p-3">
        <form method="post" action="{{ action_url }}" tags="entrance,signup">
          {% csrf_token %}

          {# Email #}
          <div class="form-group row mt-2">
            <label for="{{ form.email.id_for_label }}" class="col-form-label col-md-4">Email:</label>
            <div class="col-md-8">{{ form.email }}
              {{ form.email.errors }}</div>
          </div>

          {# Password #}
          <div class="form-group row mt-2">
            <label for="{{ form.password1.id_for_label }}" class="col-form-label col-md-4">Password:</label>
            <div class="col-md-8">
              {{ form.password1 }}
              {{ form.password1.errors }}
              <br />
              <small class="form-text text-muted text-center">Password must meet at least 1 uppercase letter, 1 lowercase letter,1 digit (0-9). and have least 1 special character (e.g., @, #, $, etc.).</small>
            </div>
          </div>

          {# Confirm Password #}
          <br />
          <div class="form-group row mt-2">
            <label for="{{ form.password2.id_for_label }}" class="col-form-label col-md-4">Confirm Password:</label>
            <div class="col-md-8">{{ form.password2 }}
              {{ form.password2.errors }}</div>
          </div>

          {# Shipping Address #}
          <div class="form-group row mt-2">
            <label for="{{ form.shipping_address.id_for_label }}" class="col-form-label col-md-4">Shipping Address:</label>
            <div class="col-md-8">{{ form.shipping_address }}
              {{ form.shipping_address.errors }}</div>
          </div>

          <div class="form-group row">
            <div class="col-md-12 text-center mt-2 mb-3">
              <input type="submit" class="btn btn-info" value="{% trans 'Sign Up' %}" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
