@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

/* Remove side spacing on container-fluid */
body .container-fluid.no-side-spacing {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.row.main-image {
  max-height: 50vh;
  /* Set the maximum height as needed */
  overflow: hidden;
  border: 1.5em;
}

.form-control.form-control-lg.me-2 {
  max-width: 50%;
}

.cropped-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.navbar .navbar-brand {
  font-family: 'Major Mono Display', monospace !important;
}

.social-icons a {
  color: white;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
}

.social-icons a:hover {
  color: turquoise;
}

body h1 {
  font-family: 'Major Mono Display', monospace !important;
}