@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Source+Serif+Pro&display=swap');

:root {
  --font-family: Raleway, sans-serif;
  --primary-font: Raleway, sans-serif;
  --secondary-font: 'Major Mono Display', monospace;
  --main-color: white;
  --background-color: white;
  --primary-color: white;
  --secondary-color: #212529;
  --accent-color: turquoise;
  --text-color-primary: black;
  --text-color-secondary: white;
  --text-color-accent: turquoise;
  --text-color-secondary-accent: silver;
  --line-height: 1.5;
}

body * {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

/* Remove side spacing on container-fluid */
body .container-fluid.no-side-spacing {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
}

.row.main-image {
  max-height: 50vh;
  overflow: hidden;
}

.form-control.form-control-sm.me-2 {
  max-width: 50%;
}

.cropped-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.navbar .navbar-brand {
  font-family: 'Major Mono Display', monospace;
}

.nav-item,
.dropdown-item {
  font-family: Raleway, sans-serif;
}

.social-icons a {
  color: white;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
}

.social-icons a:hover {
  color: turquoise;
}

body h1 {
  font-family: 'Major Mono Display', monospace;
}

.row .custom-card {
  transition: transform 0.3s;
  width: 17.5rem;
}

.custom-card-image img {
  width: 100%;
  height: 200px;
  overflow: hidden
}

.custom-url-image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-img ajax {
  max-height: 300px;
  object-fit: contain
}

.row .custom-card:hover {
  transform: scale(1.15);
}

.custom-description {
  font-family: Raleway, sans-serif;
  font-weight: 600;
}

a.card-link {
  text-decoration: none;
}

.card.art-list {
  width: 17.5rem;
  height: 17.5rem;
}

.card.art-list img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body .accordion-button {
  background-color: #212529;
  color: white;
}

body .accordion-button.collapsed {
  background-color: #212529;
  color: white;
}

body .accordion-header .accordion-button:not(.collapsed) {
  color: white;
  background-color: #212529;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

body .accordion-item {
  background-color: #212529;
  border-color: #2c2c2c;
}

body .accordion-body {
  background-color: #212529;
  color: white;
}

body .hover-link:hover {
  color: turquoise;
  text-decoration: none;
}

.bi-arrow-down {
  font-size: 4em;
}

/* Bounce animation keyframes */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

/* Apply bounce animation on hover to Bootstrap icon */
.bi-arrow-down:hover {
  animation: bounce 0.5s ease infinite;
}

body .h5,
body .h6,
body .h7,
body .h8,
body .h9,
body .h10,
body .h11,
body .h12 {
  font-size: 3rem !important;
  font-family: Raleway, sans-serif !important;
  font-weight: 600 !important;
  text-decoration: none !important;
}

.artwork-image {
  max-height: 500px;
  object-fit: contain;
}