{% extends 'base.html' %}
{% load static %}

{% comment %}Extra Title{% endcomment %}
{% block extra_title %}
  404 Error
{% endblock %}

{% block content %}
  <div class="dashboard">
    <div class="dashboard__form form__delete warning__msg">
      <h1 class="dashboard__main--name">404</h1>
      <strong>Oh! It seems that this page doesn't exist.</strong>
      <div class="form__btns accent">
        <a href="{% url 'index' %}" aria-label="Go to Tags page" class="btn btn__getstarted">
          <i class="fas fa-store"></i>
          Back to page
        </a>
      </div>
    </div>
  </div>
{% endblock %}
