{% extends 'base.html' %}
{% load static %}
{% comment %}Extra Title{% endcomment %}
{% block extra_title %}
  500 Error
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
      <h1 class="dashboard__main--name mt-3 mb-3">Error 500</h1>
      <strong>Oh! It seems that we are having some internal issues.</strong>
      <div class="mt-3">
        <a href="{% url 'home' %}" aria-label="Go to home page" class="btn btn-info mb-3"><i class="bi bi-shop"></i> Back to page</a>
      </div>
    </div>
  </div>
{% endblock %}
