{% extends 'base.html' %}
{% load static %}
{% comment %}Extra Title{% endcomment %}
{% block extra_title %}
  500 Error
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1 class="display-1">500</h1>
        <p class="lead text-danger">Oh! It seems that there are some internal problems with the server.</p>
        <a href="{% url 'home' %}" aria-label="Go to Tags page" class="btn btn-primary btn-lg">
          <i class="bi bi-arrow-left-circle"></i>
          Back to Page
        </a>
      </div>
    </div>
  </div>
{% endblock %}
