{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5 mb-5">
    <!-- Introduction Section -->
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="text-center">About Uptown Art Gallery</h1>
        <p class="lead text-center mt-2">Discover the pulse of the city's art scene.</p>
      </div>
    </div>

    <!-- Hero Image Section -->
    <div class="row mb-4">
      <div class="col-12">
        <img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1703960042/vecteezy_art-gallery-interior-with-modern-artworks-museum_16911700_yqdvdl.jpg" alt="Gallery Image" class="img-fluid" />
      </div>
    </div>

    <!-- Mission Statement Section -->
    <div class="row mb-4">
      <div class="col-12">
        <h2>Mission Statement</h2>
        <p>We aim to showcase the most innovative and engaging art from emerging and established artists, focusing on urban culture and contemporary themes. Our goal is to provide a dynamic space for art enthusiasts to explore and engage with the art community.</p>
      </div>
    </div>

    <!-- History and Evolution Section -->
    <div class="row mb-4">
      <div class="col-12">
        <h2>Our History</h2>
        <p>Founded in 2010, Uptown Art Gallery has grown from a modest local space into a significant player in the national art scene, known for its daring and forward-thinking approach.</p>
      </div>
    </div>

    <!-- Art and Artists Section -->
    <div class="row mb-4">
      <div class="col-12">
        <h2>Art and Artists</h2>
        <p>We proudly feature a diverse array of art forms, including painting, sculpture, photography, and digital media, with a special emphasis on street art and contemporary pieces.</p>
      </div>
    </div>

    <!-- Community Engagement Section -->
    <div class="row mb-4">
      <div class="col-12">
        <h2>Community Engagement</h2>
        <p>Community workshops, artist talks, and educational programs are integral parts of our gallery. We believe in fostering a vibrant community dialogue around art.</p>
      </div>
    </div>

    <!-- Visitor Information Section -->
    <div class="row mb-4">
      <div class="col-md-6">
        <h2>Visit Us</h2>
        <p>Open Tuesday to Sunday, 10 AM to 6 PM.</p>
      </div>
    </div>

    <!-- Address Section -->
    <div class="row mb-4">
      <div class="col-md-6">
        <h2>Where to Find Us</h2>
        <div class="p-2">
          <p>123 Art Street,</p>
          <p>Art City,</p>
          <p>AC 12345</p>
        </div>
      </div>
    </div>

    <!-- Call to Action Section -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="https://facebook.com" class="btn btn-info">Follow us on social media</a>
      </div>
    </div>
  </div>
{% endblock %}
