{% extends 'base.html' %}

{% block title %}
  Artwork List
{% endblock %}

{% block content %}
  <h1 class="text-center mt-3 mb-5">Artwork List</h1>

  <div class="row">
    {% for artwork in artworks %}
      <div class="col-md-4 mb-4">
        <!-- Display artwork information here -->
        <div class="card art-list">
          <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#auctionModal" data-artwork-id="{{ artwork.id }}">
            {% if artwork.image %}
              <img src="{{ artwork.image.url }}" class="card-img-top img-fluid" alt="{{ artwork.title }}" />
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ artwork.title }}</h5>
              <!-- Add other artwork details as needed -->
            </div>
          </a>
        </div>
      </div>
      {% cycle '' '' '' '</div><div class="row">' %}
    {% endfor %}
  </div>

  <div class="pagination mt-4">
    <span class="step-links">
      {% if artworks.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ artworks.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">Page {{ artworks.number }} of {{ artworks.paginator.num_pages }}</span>

      {% if artworks.has_next %}
        <a href="?page={{ artworks.next_page_number }}">next</a>
        <a href="?page={{ artworks.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
  <div class="modal fade" id="auctionModal" tabindex="-1" aria-labelledby="auctionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="auctionModalLabel">Auction Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="auction-detail-content"></div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      // Listen for the modal show event
      $('#auctionModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var artworkId = button.data('artwork-id') // Extract the artwork ID from data-* attributes
    
        // Load the auction details using AJAX
        $.ajax({
          url: '/get_auction_detail/' + artworkId + '/', // Replace with Ir Django URL
          type: 'GET',
          success: function (data) {
            // Update the modal content with the retrieved auction details
            $('#auction-detail-content').html(data)
          },
          error: function () {
            console.error('Error loading auction details.')
          }
        })
      })
    })
  </script>
{% endblock %}
