{% extends 'base.html' %}

{% block title %}
  Artwork List
{% endblock %}
{% block content %}
  <h1 class="text-center mt-3 mb-5">Artwork List</h1>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center mt-5 mb-5">
      {% for artwork in page_obj %}
        <div class="col-md-3">
          <div class="card mx-auto custom-card" style="width: 17.5rem;">
            <a href="#link{{ artwork.id }}" data-bs-toggle="modal" data-bs-target="#auctionModal" data-artwork-id="{{ artwork.id }}" data-auction-id="{{ artwork.recent_auction_id }}">
              <div class="image-container" style="width: 100%; height: 200px; overflow: hidden;">
                <img src="{{ artwork.image.url }}" class="card-img-top img-fluid" alt="{{ artwork.title }}" style="object-fit: cover; width: 100%; height: 100%;" />
              </div>
            </a>
            <div class="card-body">
              <h5 class="card-title text-center">{{ artwork.title }}</h5>
            </div>
          </div>
        </div>
        {% cycle '' '' '' '</div><div class="row justify-content-center mt-5 mb-5">' %}
      {% endfor %}
    </div>
  </div>

  <!-- Pagination and Modal -->
  <div class="pagination mt-4">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
  <!-- Auction Details Modal -->
  <div class="modal fade" id="auctionModal" tabindex="-1" aria-labelledby="auctionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark text-light">
          <!-- Added bg-dark and text-light classes -->
          <h5 class="modal-title" id="auctionModalLabel">{{ auction.artwork }}</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button> <!-- Added btn-close-white for better visibility -->
        </div>
        <div class="modal-body" id="auction-detail-content">
          <!-- AJAX content will be loaded here -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
