{% extends 'base.html' %}
{% load allauth i18n %}
{% block content %}
  <h1 class="text-center mt-3 mb-5">
    {% if is_search %}
      Search Results for "{{ query }}"
    {% elif category %}
      {{ category|capfirst }}
    {% else %}
      Artwork List
    {% endif %}
  </h1>
  <div class="container mt-5 mb-5">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'Close' %}"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="row justify-content-center mt-5 mb-5">
      {% for artwork in page_obj %}
        <div class="col-md-3">
          <div class="card mx-auto custom-card">
            <a href="#link{{ artwork.id }}" data-bs-toggle="modal" aria-label="Link to artwork detail popup" data-bs-target="#auctionModal" data-artwork-id="{{ artwork.id }}" data-auction-id="{{ artwork.recent_auction_id }}">
              <div class="image-container" style="width: 100%; height: 200px; overflow: hidden;">
                <img src="{{ artwork.image.url }}" class="card-img-top img-fluid" alt="{{ artwork.title }}" aria-label="Artwork Image" style="object-fit: cover; width: 100%; height: 100%;" >
              </div>
            </a>
            <div class="card-body">
              <div class="card-title text-center">{{ artwork.title }}</div>
            </div>
          </div>
        </div>
        {% cycle '' '' '' '</div><div class="row justify-content-center mt-5 mb-5">' %}
        {% empty %}
        <div class="d-flex justify-content-center">
          {% if is_search %}
            {% if not query %}
              <p class="text-center">Please enter a search term.</p>
            {% else %}
              <p class="text-center">No search results for "{{ query }}". Try different keywords.</p>
            {% endif %}
          {% else %}
            <p class="text-center">No artworks found in this category.</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
<nav aria-label="Artwork page navigation">
  <ul class="pagination justify-content-center mt-4 mb-4">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">&laquo; First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo; First</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {% endif %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">Last &raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Last &raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
  <div class="modal fade" id="auctionModal" tabindex="-1" aria-labelledby="auctionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark text-light">
          <div class="modal-title" id="auctionModalLabel">{{ auction.artwork }}</div>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="auction-detail-content"></div>
      </div>
    </div>
  </div>
{% endblock %}
