{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 mt-3">
        <h1 class="text-center mb-5">Auction Detail</h1>

        <div class="card border-dark mb-5">
          <div class="row no-gutters">
            <!-- Auction Artwork Image Column -->
            <div class="col-md-4 d-flex align-items-center justify-content-center">
              <img src="{{ auction.artwork.image.url }}" alt="{{ auction.artwork.title }}" class="card-img ms-5" style="max-height: 500px; object-fit: contain;" />
            </div>

            <!-- Auction Information Column -->
            <div class="col-md-8">
              <div class="card-body">
                <!-- Auction Information -->
                <h2 class="card-title ms-5 mt-3 mb-5">{{ auction.artwork.title }}</h2>
                <p class="card-text mb-3 ms-5">
                  <strong>Description:</strong> {{ auction.artwork.description }}<br /><br />
                  <strong>Auction Start:</strong> {{ auction.artwork.auction_start|date:'F j, Y H:i' }}<br /><br />
                  <strong>Auction End Date:</strong> {{ auction.end_date|date:'F j, Y H:i' }}<br /><br />
                  <strong>Category:</strong> {{ auction.artwork.get_category_display }}<br /><br />
                  <strong>Artist:</strong> {{ auction.artwork.artist.name }}<br /><br />
                  <strong>Number of Bids:</strong> {{ auction.bids.count }}<br /><br />
                  <strong>Current Price:</strong> {{ current_price }}<br /><br />
                </p>
                <!-- Bid Form -->
                {% if user.is_authenticated and auction.artwork.artist.user != user %}
                  <h3 class="ms-5 mt-3 mb-5">Place Your Bid</h3>
                  <form method="post" action="{% url 'auction_detail' artwork.id auction.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="bidAmount" class="form-label ms-5">Bid Amount</label>
                      <input type="number" class="form-control ms-5" id="bidAmount" name="bid_amount" required style="width: 50%;" />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-info">Submit Bid</button>
                    </div>
                  </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
