{% extends 'base.html' %}

{% block title %}
  Sell
{% endblock %}

{% block content %}
  {% load widget_tweaks %}
  <div class="container mt-5 mb-5">
    <h1 class="text-center mb-5">Create Artwork Listing</h1>

    <!-- Blurbs with Instructions -->
    <div class="row justify-content-center mb-4">
      <div class="col-md-6">
        <div class="alert alert-info">
          <strong>Instructions:</strong> Looking to sell? I can create a artwork auction listing by filling out the below form. Provide accurate details for Ir artwork to enhance it's listing Make sure to upload a high-quality image for better visibility.
        </div>
      </div>
    </div>

    <!-- Display the artwork creation form -->
    <div class="row justify-content-center custom-row-create-artwork">
      <div class="col-md-6">
        <!-- Ir HTML template -->
        <form method="post" enctype="multipart/form-data" class="custom-form-create-artwork">
          {% csrf_token %}
          {{ form.non_field_errors }}

          <div class="form-group">
            <label for="{{ form.description.id_for_label }}" class="col-form-label">{{ form.description.label_tag }}</label>
            {{ form.description|add_class:'form-control custom-description' }}
            <small class="form-text text-muted">{{ form.description.widget.attrs.placeholder }}</small>
            {{ form.description.errors }}
          </div>

          <div class="form-group">
            <label for="{{ form.image.id_for_label }}" class="col-form-label">{{ form.image.label_tag }}</label>
            {{ form.image|add_class:'form-control custom-image' }}
            <small class="form-text text-muted">{{ form.image.widget.attrs.placeholder }}</small>
            {{ form.image.errors }}
          </div>

          <div class="form-group">
            <label for="{{ form.category.id_for_label }}" class="col-form-label">{{ form.category.label_tag }}</label>
            {{ form.category|add_class:'form-control custom-category' }}
            <small class="form-text text-muted">{{ form.category.widget.attrs.placeholder }}</small>
            {{ form.category.errors }}
          </div>

          <div class="form-group">
            <label for="{{ form.reserve_price.id_for_label }}" class="col-form-label">{{ form.reserve_price.label_tag }}</label>
            <div class="input-group">
              {{ form.reserve_price|add_class:'form-control custom-reserve' }}
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
            <small class="form-text text-muted">{{ form.reserve_price.widget.attrs.placeholder }}</small>
            {{ form.reserve_price.errors }}
          </div>

          <div class="form-group">
            <label for="{{ form.auction_duration.id_for_label }}" class="col-form-label">{{ form.auction_duration.label_tag }}</label>
            {{ form.auction_duration }}
            <small class="form-text text-muted">{{ form.auction_duration.widget.attrs.placeholder }}</small>
            {{ form.auction_duration.errors }}
          </div>
          <div class="form-group mt-3">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Additional Blurbs or Instructions -->
    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <div class="alert alert-warning">
          <strong>Important:</strong>We careful curate each piece of art listing for sale with us. Ir artwork will go through a screening process and I will be notified once the auction is active. This normally takes less than a few hours.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
