<!-- index.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4 mb-4">
    <div class="row justify-content-center">
      <h1 class="text-center mb-4">Art Categories</h1>
      <!-- First Row -->
      <div class="col-md-4">
        <div class="card">
          <a href="#link1"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700217310/412120-sunflowers-1889-by-vincent-van-gogh-adult-coloring-page_wsmrqz.jpg" class="img-fluid" alt="Category 1" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Paintings</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="#link2"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700217251/1707_pgj5fm.jpg" class="img-fluid" alt="Category 2" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Sculpture</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="#link3"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1698673378/samples/food/spices.jpg" class="img-fluid" alt="Category 3" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Photography</h5>
          </div>
        </div>
      </div>

      <!-- Second Row -->
      <div class="col-md-4">
        <div class="card">
          <a href="#link4"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700217094/vecteezy_trendy-matisse-botanical-wall-art-with-floral-patterns-in_15008918_nocsev.jpg" class="img-fluid" alt="Category 4" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Posters</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="#link5"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700216630/vecteezy_beautiful-girl-face-portrait-woman-wearing-beach-hat-and_17293055_ku7nl6.jpg" class="img-fluid" alt="Category 5" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Portraits</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="#link6"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700217005/A59_generated_a5q2lk.jpg" class="img-fluid" alt="Category 6" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Contemporary</h5>
          </div>
        </div>
      </div>

      <!-- Third Row -->
      <div class="col-md-4">
        <div class="card">
          <a href="#link7"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700216698/vecteezy_hapes-printable-set-of-6-in-the-style-of-enigmatic_27524513_ubtsiv.jpg" class="img-fluid" alt="Category 7" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Abstract</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="#link8"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700216669/vecteezy_illustration-colorful-cat-with-pop-art-style__juf9dz.jpg" class="img-fluid" alt="Category 8" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Popart</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="#link9"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700221606/7080483_sxu9lt.jpg" class="img-fluid" alt="Category 9" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Classic Art</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
