<!-- index.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center mt-5 mb-5">
      <h1 class="text-center mb-5">Browse Art by Category</h1>
      <h2 class="text-center mb-5">Art Categories</h2>
      <!-- First Row -->
      <div class="col-md-4">
        <div class="card mx-auto custom-card" style="width: 17.5rem;">
          <a href="{% url 'artwork_list' %}?category=painting"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700217310/412120-sunflowers-1889-by-vincent-van-gogh-adult-coloring-page_wsmrqz.jpg" class="img-fluid" alt="Paintings" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Paintings</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto custom-card" style="width: 17.5rem;">
          <a href="{% url 'artwork_list' %}?category=sculpture"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700217251/1707_pgj5fm.jpg" class="img-fluid" alt="Sculpture" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Sculpture</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto custom-card" style="width: 17.5rem;">
          <a href="{% url 'artwork_list' %}?category=photography"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700226251/orange_rsngcx.jpg" class="img-fluid" alt="Photography" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Photography</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Row -->
    <div class="row g-2 justify-content-center mt-5 mb-5">
      <div class="col-md-4">
        <div class="card mx-auto custom-card" style="width: 17.5rem;">
          <a href="{% url 'artwork_list' %}?category=posters"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700217094/vecteezy_trendy-matisse-botanical-wall-art-with-floral-patterns-in_15008918_nocsev.jpg" class="img-fluid" alt="Posters" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Posters</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto custom-card" style="width: 17.5rem;">
          <a href="{% url 'artwork_list' %}?category=portraits"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700216630/vecteezy_beautiful-girl-face-portrait-woman-wearing-beach-hat-and_17293055_ku7nl6.jpg" class="img-fluid" alt="Portraits" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Portraits</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto custom-card" style="width: 17.5rem;">
          <a href="{% url 'artwork_list' %}?category=contemprary"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700217005/A59_generated_a5q2lk.jpg" class="img-fluid" alt="Contemporary" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Contemporary</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Third Row -->
    <div class="row g-2 justify-content-center mt-5 mb-5">
      <div class="col-md-4">
        <div class="card mx-auto custom-card" style="width: 17.5rem;">
          <a href="{% url 'artwork_list' %}?category=abstract"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700216698/vecteezy_hapes-printable-set-of-6-in-the-style-of-enigmatic_27524513_ubtsiv.jpg" class="img-fluid" alt="Abstract" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Abstract</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto custom-card" style="width: 17.5rem;">
          <a href="{% url 'artwork_list' %}?category=popart"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700216669/vecteezy_illustration-colorful-cat-with-pop-art-style__juf9dz.jpg" class="img-fluid" alt="Popart" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Popart</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mx-auto custom-card" style="width: 17.5rem;">
          <a href="{% url 'artwork_list' %}?category=classical"><img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1700221606/7080483_sxu9lt.jpg" class="img-fluid" alt="Classic Art" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">Classic Art</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
