<!-- index.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <!-- First Row -->
      <div class="col-md-4">
        <a href="#link1"><img src="image1.jpg" class="img-fluid" alt="Category 1" /></a>
      </div>
      <div class="col-md-4">
        <a href="#link2"><img src="image2.jpg" class="img-fluid" alt="Category 2" /></a>
      </div>
      <div class="col-md-4">
        <a href="#link3"><img src="image3.jpg" class="img-fluid" alt="Category 3" /></a>
      </div>

      <!-- Second Row -->
      <div class="col-md-4">
        <a href="#link4"><img src="image4.jpg" class="img-fluid" alt="Category 4" /></a>
      </div>
      <div class="col-md-4">
        <a href="#link5"><img src="image5.jpg" class="img-fluid" alt="Category 5" /></a>
      </div>
      <div class="col-md-4">
        <a href="#link6"><img src="image6.jpg" class="img-fluid" alt="Category 6" /></a>
      </div>

      <!-- Third Row -->
      <div class="col-md-4">
        <a href="#link7"><img src="image7.jpg" class="img-fluid" alt="Category 7" /></a>
      </div>
      <div class="col-md-4">
        <a href="#link8"><img src="image8.jpg" class="img-fluid" alt="Category 8" /></a>
      </div>
      <div class="col-md-4">
        <a href="#link9"><img src="image9.jpg" class="img-fluid" alt="Category 9" /></a>
      </div>
    </div>
  </div>
{% endblock %}
