{% extends 'base.html' %}
{% block title %}
  Pending Artworks
{% endblock %}
{% block content %}
  <h1 class="text-center mt-5 mb-5">Pending Artworks</h1>
  {% for artwork in artworks %}
    <div class="container mt-5 mb-5 bg-dark text-light">
      <div class="card bg-dark">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ artwork.image.url }}" class="img-thumbnail" alt="{{ artwork.title }}" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="mt-3">
                <p class="lead">
                  <span id="titleText">{{ artwork.title }}</span>
                  <input type="text" id="titleInput" value="{{ artwork.title }}" style="display:none;" />
                  <i class="bi bi-pencil-square" id="editTitleIcon" onclick="toggleEdit('title')"></i>
                  <i class="bi bi-save" id="saveTitleIcon" onclick="saveEdit('title')" style="display:none;"></i>
                </p>
              </div>
              <div class="mt-3">
                <p class="lead">
                  <strong class="text-light">By: {{ artwork.artist.name }}</strong>
                </p>
              </div>
              <div class="mt-3">
                <p>
                  <span id="descriptionText">{{ artwork.description }}</span>
                  <input type="text" id="descriptionInput" value="{{ artwork.description }}" style="display:none;" />
                  <i class="bi bi-pencil-square" onclick="toggleEdit('description', {{ artwork.id }})"></i>
                  <i class="bi bi-save" id="saveDescriptionIcon" onclick="saveEdit('description', {{ artwork.id }})" style="display:none;"></i>
                </p>
              </div>
              <div class="mt-3">
                <p class="text-light">
                  <strong class="text-light">Approval Status:</strong> {{ artwork.approval_status }}
                </p>
              </div>
            </div>
            <form action="{% url 'pending_artworks' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="action" value="delete" />
              <input type="hidden" name="artwork_id" value="{{ artwork.id }}" />
              <button type="submit" class="btn btn-danger">Delete Artwork</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
