{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 mt-3">
        <h1 class="text-center mb-5">Profile</h1>

        <div class="card bg-dark text-light mb-5">
          <div class="row no-gutters">
            <!-- Profile Image Column -->
            <div class="col-md-4">
              <img src="https://res.cloudinary.com/dh4ck00n3/image/upload/v1701895696/u8e3mzqahxlnyrxzuz8h.jpg" alt="Default Profile" class="card-img" />
            </div>

            <!-- Profile Information Column -->
            <div class="col-md-8">
              <div class="card-body">
                <!-- Profile Information -->
                <h2 class="card-title text-center mt-3 mb-3">Profile Info</h2>
                <p class="card-text mb-3">
                  <strong>Name:</strong> {% if user.profile.name %}
                    {{ user.profile.name }}
                  {% else %}
                    N/A
                  {% endif %}
                  <br /><br />
                  <strong>Shipping Address:</strong> {% if user.profile.shipping_address %}
                    {{ user.profile.shipping_address }}
                  {% else %}
                    N/A
                  {% endif %}
                  <br /><br />
                  <strong>Account Create Date:</strong> {% if user.date_joined %}
                    {{ user.date_joined|date:'F j, Y' }}
                  {% else %}
                    N/A
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
